<!DOCTYPE html>
<html >
    <head>
        <link rel="icon" href="{{ url_for('static', filename='image/school logo.jpeg') }}">

         <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blossom English School Mayani provides quality education with modern facilities and values.">

<meta name="keywords" content="Blossom English School, Mayani, School, Education">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
        <title> Contact Page</title>
    </head>
    <body>
        <h1> Contact Us</h1>
        <p>We are here to help you. Feel free to reach out to us for admissions, queries, or any information about the school.</p>

<p><strong>School Name:</strong> Blossom English School,Mayani</p>
<p><strong>Address:</strong> At Post:Mayani,Dist:Satara,Tal:Khatav,Vita Road Mayani</p>
<p><strong>Phone:</strong> +91 7522 957 311</p>
<p><strong>Email:</strong> mayaniblossomenglishschool@email.com</p>

<h2>Our Location</h2>

<div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13016.827234283566!2d74.54183213735843!3d17.43862866806633!2m3!1f0!2f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc161d6ab75ec93%3A0x9cfffdfff911fab3!2sBLOSSOM%20ENGLISH%20SCHOOL!5e0!3m2!1sen!2sin!4v1783314974075!5m2!1sen!2sin"
        width="100%"
        height="400"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="strict-origin-when-cross-origin">
    </iframe>
</div>
    </body>
</html>
